<!-->p>{{title}} user</p-->


<div class="example-button-row">
  <button
  mat-raised-button color="primary"
  routerLink="/addBook"> Add book</button>
  </div>
<p *ngIf= "!(books$ | async)"> loding.... </p>
<!--<a mat-list-item routerLink="/addBook" routerLinkActive="active">Add book</a>-->

<mat-accordion>
    <mat-expansion-panel *ngFor = "let book of books$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      by {{book.author}}  
      <button 
      mat-raised-button color="primary"
      (click)=deleteBook(book.id)> DELETE</button>
      <button

  mat-raised-button color="primary"
  [routerLink]="'/addBook/'+book.id"> UPDATE</button>
    </mat-expansion-panel>
  </mat-accordion>
  