

<mat-card>
    <h1>Add book</h1>
    <form #addBook="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
          <div>
        <mat-form-field>
            
          <input matInput placeholder="Title" [(ngModel)] = "title"
                           name = "title"
                           required #spy
                           #temp = "ngModel">
          <mat-error *ngIf="!(title.valid || title.pristine)">
            Title is required
          </mat-error>                        
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field>
         
            <input matInput placeholder="Author" [(ngModel)] = "author"
                             name = "author"
                             required #spy
                             #temp1 = "ngModel">
            <mat-error *ngIf="!(author.valid || author.pristine)">
                Author is required
            
        
            </mat-error>                        
          </mat-form-field>
        </div>
       <div>
        
            <button mat-raised-button color="primary" [disabled]="!addBook.form.valid">{{buttonText}}</button>
        </div>
    </div>
      
    </form>
    </mat-card>
    
   